a.arrow {
  position: absolute;
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  z-index: 1000;
  svg[role=img] {
    padding: 7px 0 7px 0;
    height: 50px;
    background-color: $coolgray;
    fill: $offwhite;
    width: 60px;
    border-bottom: 10px solid black;
  }
}
