#back-button {
  position: absolute;
  top: .7em;
  left: 1em;
  z-index: 100;
  a {
    display: block;
    height: 100%;
    z-index: 100;
    svg {
      fill: white;
      stroke: $coolblack;
      stroke-width: .5px;
      width: 32px;
      height: 32px;
      transition: all .2s;
    }
    &:hover {
      svg {
        stroke: white;
        fill: $coolblack;
      }
    }
  }
}
