.block-nav {
  li {
    overflow: visible;
    position: relative;
    a {
      padding: .3em;
      height: 100%;
      width: 100%;
      display: block;
      position: relative;
      z-index: 1;
    }
    div {
      transition: all .2s;
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
    }
  &:hover {
    a {
      color: white;
    }
    div {
      width: 100%;
    }
  }
  }
}
