.highlight {
  color: white;
  display: inline-block;
}
h2.highlight {
  padding: 0 2em;
}

.bk-orange {
  background-color: $orange;
  padding: 0 .5em
}
.bk-coolblack {
  background-color: $coolblack;
}

