.lightbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: unset;
  transition: background .2s;
  flex-wrap: wrap;
  z-index: 100;
  .lightbox-item {
    margin-top: 1em;
    height: 15em;
    overflow: hidden;
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: all .2s;
    display: flex;
    justify-content: center;
    @include breakpoint($tablet) {
      width: 30%;
    }
    img {
      height: auto;
      object-fit: cover;
      max-height: 80vh;
      max-width: 80vw;
    }
    .lightbox-slide {
      max-width: 4em;
      position: absolute;
      top: 0;
      right: 0;
      height: 3em;
      width: 0;
      transition: all .2s;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 0;
        height: 80%;
        fill: white;
      }
    }
    &:hover{
      .lightbox-slide {
        width: 3em; 
        background-color: $coolblack;
        svg {
          width: 80%;
          max-width: 1.5em;
        }
      }
    }
  }
}
