.profile {
  overflow: hidden;
  background-size: cover;
  width: 160px;
  height: 160px;
  min-height: 160px;
  border-radius: 100%;
  img {
    width: 100%;
  }
}
.paul {
  background-image: url('./img/profile.jpg');
}
