label{
  cursor: pointer;
  svg {
    z-index: 1;
    height: 24px;
    width: 24px;
    fill: white;
    padding: 0 5px 2px 5px;
    border-bottom: 5px solid $coolgray;
    height: 35px;
    width: 35px;
    background-color: $coolblack;
    @include breakpoint($tablet) {
      padding: unset;
      border-bottom: unset;
      background-color: unset;
      height: 24px;
      width: 24px;
      fill: $coolblack;
    }
    top: 1.2em;
    right: 1.2em;
    position: fixed;
    @include breakpoint($tablet) {
      position: absolute;
    }
    transition: fill .2s;
  }
}
input[id=nav]{
  display: none;
}
input[id=nav]:checked ~ .project-list {
  width: 100vw;
  overflow: hidden;
  @include breakpoint($tablet) {
    position: absolute;
    width: 50%;
  }
}

input[id=nav]:checked ~ label {
  svg {
    fill: white; 
  }
}
.project-list {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 0;
  overflow: hidden;
  color: white;
  background-color: $coolblack;
  transition: width .2s;
  @include breakpoint($tablet) {
    position: absolute;
    right: -25px;
  }
  ul {
    li:first-child {
      margin-top: 2em;
    }
    li:hover {
      background-color: $coolgray;
    }
    // Hide scroll bar
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;

    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    a {
      padding: 1em;
    }
    #selected {
      background-color: $orange;
    }
  }
}
