.project-nav {
  z-index: 1;
  margin-left: 10px;
  display: none;
  @include breakpoint($tablet) {
    height: 100%;
    width: 20px;
    display: flex;
  }
  align-items: center;
  flex-direction: column;
  p {
    transform: rotate(90deg);
    font-family: $serif;
    background-color: white;
  }
  .nav-wrap {
    width: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-size: 4px 10px;
    a {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      transition: all .2s;
    }
    a#current {
      background-color: $orange;
      width: 10px;
      height: 10px;
    }
  }
}
