#scrollbar {
  z-index: 1;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  .scroll-container {
    height: 80%;
    width: 16px;
    border: 2px solid $coolblack;
    background-color: white;
    .inner-scroll {
      width: 100%;
      background-color: $orange;
    }
  }
}
