$border-width: 3px;
.icon-link:nth-child(1) {
  border: $border-width solid $coolblack;
  border-bottom: #{$border-width/2} solid $coolblack;
}
.icon-link:last-child {
  border: $border-width solid $coolblack;
  border-top: #{$border-width/2} solid $coolblack;
}
.icon-link {
  text-decoration: none;
  border-left: $border-width solid $coolblack;
  border-right: $border-width solid $coolblack;
  border-top: #{$border-width/2} solid $coolblack;
  border-bottom: #{$border-width/2} solid $coolblack;

  background-color: white;
  height: 32px;
  width: 32px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  transition: width .2s, background-color .2s;
  .social-text {
    overflow: hidden;
    width: 0;
    transition: width .2s;
  }
  svg {
    fill: $coolblack;
  }
  color: white;
}

.icon-link{
  svg {
    fill: white;
  }
  width: 100px;
  background-color: $coolblack;
  .social-text {
    width: auto;
  }
  @include breakpoint($tablet) {
    background-color: white;
    width: 32px;
    height: 32px;
    .social-text {
      width: 0;
    }
    svg {
      fill: $coolblack;
    }
  }
}
nav.social-nav {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: 2000;
  .icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 16px;
      filter: invert(100%);
    }
  }
  @include breakpoint($tablet) {
    z-index: 0;
    left: unset;
    right: 0;
    width: 0;
    height: 100%;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    .icon {
      img {
        filter: invert(0%);
      }
    }
  .icon-link:hover {
    svg {
      fill: white;
    }
    .icon {
      img {
        filter: invert(100%);
      }
    }
    width: 130px;
    background-color: $coolblack;
    .social-text {
      width: auto;
    }
  }
  }
}
@include breakpoint($tablet) {
}
