.layout-header {
  display: fixed;
}

.nav-item {
  a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  a:visited {
    color: inherit;
  }
}
