.min-height-content-page {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  transition: max-width .3s;
  @include breakpoint($tablet) {
    max-height: 1000px;
  }
}
.l-content-page {
  background-color: white;
  #scrollbar {
    display: none;
    padding-left: 15px;
    display: none;
    @include breakpoint($tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .description {
    max-width: 400px;
  }
  #back-button {
    margin-bottom: 1em;
  }
  .banner {
    width: 100%;
    height: 50%;
    text-align: center;
    img {
      height: 250px;
      @include breakpoint($tablet) {
        height: 100%;
      }
    }
  }
  .index {
    h3 {
      padding-left: .2em;
    }
    .block-nav a {
      padding-left: .2em;
    }
  }
  .intro {
    height: 50%;
  }
  .written-content, .intro {
    padding: 0 1rem 0 1rem;
    @include breakpoint($tablet) {
      padding: 0 3rem 0 4rem;
    }
  }
  .content-image {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .flex-row {
    flex-direction: column;
    @include breakpoint($tablet) {
      max-width: 98%;
      flex-direction: row;
      div:first-child {
        padding: 0 .6rem;
      }
    }
  }
  .content-page-section {
    margin-bottom: 2em;
    width: 95%;
  }
  height: 100%;
  .index {
    a {
      
    }
  }
}
