.l-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include breakpoint($tablet) {
    flex-direction: row;
  }
  a.arrow {
    position: relative;
    width: 44px;
    height: 32px;
    display: block;
  }
  &> div {
    @include breakpoint($tablet) {
      width: 50%;
    }
    img {
      width: 100%;
    }
  }
  &>div:first-child {
    order: 2;
    padding: 4em;
    @include breakpoint($tablet) {
      order: 0;
    }
  }
  &>div {
    display:flex;
    align-items: center;
  }
  @include breakpoint($tablet) {
    min-height: 675px;
  }
}
