.center-padding {
  width: 100vw;
  @include breakpoint($tablet) {
    height: 100vh;
    min-height: 660px;
    padding: 50px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.min-height {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  @include breakpoint($tablet) {
    max-height: 660px;
  }
}
.wrapper {
  // Need to make position relative
  // for the menu
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint($tablet) {
    flex-direction: row;
  }
}
.individual-headshot {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  animation-name: fadein;
  animation-duration: 2s;
  margin-bottom: 4em;
  @include breakpoint($tablet) {
    margin-bottom: unset;
    padding: 100px 0 120px;
  }
  h2 {
    &.highlight {
      padding: 1em;
    }
    width: 100%;
    @include breakpoint($tablet) {
      width: auto;
      &.highlight {
        padding: .2em;
      }
    }
    margin: 0;
    margin-bottom: 1em;
  }
  div {
    h2 {
      position: relative;
      margin-bottom: 0;
    }
    p {
      position: relative;
      line-height: 1.8;
      max-width: 19.1em;
    }
  }
  a.arrow {
    display: none;
    @include breakpoint($tablet) {
      display: unset;
      width: 62px;
      position: relative;
      bottom: -20%;
    }
  }
}
