$padding-headshot: 90px;
@include breakpoint($tablet) {
  .headshot:nth-child(1) {
    border-right: 5px solid $coolblack;
  }
  .headshot:nth-child(2) {
    border-left: 5px solid $coolblack;
  }
}
.headshot {
  display: flex;
  max-width: 450px;
  max-height: 550px;
  min-width: 480px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background-color: white;
  padding: $padding-headshot 0 $padding-headshot 0;
  margin-bottom: 3em;
  h2 {
    margin-bottom: 0;
  }
  p {
    line-height: 1.8;
    max-width: 19.1em;
  }
  a.arrow {
    position: relative;
  }
}

