@import '../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss';
$coolblack: #040b25;
$coolgray: #434767;
$coollightgray: #a0a6bc;
$offwhite: #eeeaea;
$orange: #ff953e;

$desktop: 1200px;
$tablet: 800px;

.lightbox {
  .lightbox-item {
    &:hover{
      .lightbox-slide {
        background-color: $coolblack;
      }
    }
  }
}

.left-border:before {
  background-color: $coolblack;
}

// scroll-bar theme
#scrollbar {
  .scroll-container {
    border: 2px solid $coolblack;
    .inner-scroll {
      background-color: $orange;
    }
  }
}


//project-list theme

label{
  svg {
    border-bottom: 5px solid $coolgray;
    @include breakpoint($tablet) {
      border-bottom: none;
      fill: $coolblack;
    }
  }
}
.project-list {
  background-color: $coolblack;
  ul {
    li:hover {
      background-color: $coolgray;
    }
    #selected {
      background-color: $orange;
    }
  }
}

// social-nav theme

$border-width: 3px;
.icon-link:nth-child(1) {
  border: $border-width solid $coolblack;
}
.icon-link:last-child {
  border: $border-width solid $coolblack;
}
.icon-link {
  border-left: $border-width solid $coolblack;
  border-right: $border-width solid $coolblack;
  svg {
    fill: $coolblack;
  }
}

.icon-link{
  background-color: $coolblack;
  @include breakpoint($tablet) {
    background-color: white;
    svg {
      fill: $coolblack;
    }
  }
}
nav.social-nav {
  @include breakpoint($tablet) {
    .icon-link:hover {
      width: 100px;
      background-color: $coolblack;
      .social-text {
        width: auto;
      }
    }
  }
}

//back-button theme

#back-button {
  a {
    svg {
      stroke: $coolblack;
    }
    &:hover {
      svg {
        fill: $coolblack;
      }
    }
  }
}

//Arrow theme
a.arrow {
  svg[role=img] {
    background-color: $coolgray;
    fill: $offwhite;
  }
  &:hover {
    svg[role=img] {
      fill: $coolblack;
      background-color: $coollightgray;
    }
  }
}

//loader-theme
.load-container{
  background-color: $coolblack;
}


//global

.background-primary {
  background-color: $coolblack;
}

.background-secondary {
  background-color: $orange;
  padding: 0 .5em;
}

.color-primary {
  color: $coolblack;
}

.color-secondary {
  color: $orange;
}

.background-image-primary {
  background-image: linear-gradient($coolblack,  5%, white, 5%, white, 90%, $coolblack,  90%, $coolblack);
}

.primary-border-five {
  border: 5px solid $coolblack;
}

// global links

.written-content, .description {
  a { 
    color: $coolgray;
  }
  a:before {
    color: $coolgray;
  }
  a:hover:before {
    color: $coolblack;
  }
}

.link {
  color: $coolgray;
  &:before {
    color: $coolgray;
  }
  &:hover:before {
    color: $coolblack;
  }
}
