.fadein {
  animation-name: fadein;
  animation-duration: 1s;
}
.slideIn-left {
  animation-name: slideIn-left;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.fadeblack {
  animation-name: fadeblack;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
}


@keyframes fadeblack {
  from {
    background-color: $coolblack;
  }
  to {
    background-color: unset;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translatey(50px);
  }
  to {
    opacity: 1;
    transform: translatey(0px);
  }
}


@keyframes slideIn-left{
  from {
    opacity: 0;
    transform: translatex(200px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  }
}


