.u-visually-hidden {
  display: none;
}

.relative {
  position: relative;
}

.icon {
   svg{
     width: 16px;
     height: 16px;
   }
}

// Typography
$serif: "Theano Didot", serif;
$sans-serif: "Fira Sans", sans-serif;
h1 {
  font-family: $serif;
  font-weight: 200;
  font-size: 1.8em;
}
h2 {
  font-family: $serif;
  font-weight: 200;
  margin-bottom: .5em;
}
h3 {
  font-family: $sans-serif;
  font-weight: 600;
  font-size: .8em;
}

p {
  margin-top: .2em;
  line-height: 1.6em;
  color: $coolblack;
}
html {
  font-family: $sans-serif;
}

.main-page {
  min-height: 607px;
  width: 100vw;
  overflow: hidden;
  @include breakpoint($tablet) {
    padding: 50px;
    height: 100vh;
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $coolblack;
  transition: color .2s;
}
//a:hover {
//  color: lighten($coolblack, 40%);
//}

.full-width {
  width: 100%;
}

ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
