title = "My Landing Page"
url = "/"
layout = "nonav"
is_hidden = 0

[Profile]
profile = "my-key"

[landingPage]
tag = "tag"

[socialNav]
profile = "my-key"
==
{% put pageScripts %}
  <script src="{{ 'assets/landing.app.js'|theme }}"></script>
{% endput %}

{% set item = landingPage.items %}
{% set amountOfItems = items|length %}

<div class="load-container">
  <div id="loader">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg 
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   width="125.03269mm"
   height="167.07095mm"
   viewBox="0 0 443.02922 591.98369"
   id="svg63082"
   version="1.1">
  <defs
     id="defs63084" />
  <metadata
     id="metadata63087">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <path
     id="path895"
     d="M 157.82,10.688342 V 209.61779 H 102.632 L 27.040582,278.81701 157.82,280.87878 v 286.73217 l 71.81945,-66.13769 V 282.0122 l 202.70143,3.19702 V 10.688342 Z m 71.81945,66.137691 H 363.14166 V 209.61779 H 229.63945 Z"
     style="" />
</svg>

  </div>
</div>


<div class="center-padding l-individual-landing background-primary">

  <div class="outer-border min-height ">
        {% partial "universe" %}
    <div class="min-height wrapper primary-border-ten fadein">
      <nav class="project-nav fadein"> 
        <p> 0/{{ amountOfItems }} </p>
        <div class="background-image-primary nav-wrap">
        <a class="background-primary" id="current" href="#home" class="circle"> 
        </a>
        {% for item in items %}
          <a class="background-primary" href="#{{ item.slug }}" class="circle"> 
          </a>
        {% endfor %}
        </div>
        <p> {{ amountOfItems }}/{{ amountOfItems }} </p>
      </nav>
      <div class="l-slider">
        <div class="content-wrapper">
        {% component 'Profile' %}
        {% for item in items %}
          <div id="{{ item.slug }}" class="l-content">
            <div>
              <div>
                <h2> {{ item.title }} </h2>
                {{ item.short_description |raw }}
                <a class="link" href="/projects/{{ item.slug }}/{{ this.page.url }}">
                  View the full project
                </a>
              </div>
            </div>
            <div class="background-primary">
              <img src="{{ item.banner.path }}"></img>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
  
      {% component 'socialNav' %}
    <input type="checkbox" id="nav"> </input>
    <label class="menuanim" for="nav">
      <svg 
         id="svg1977"
         version="1.1"
         viewBox="0 0 8 8"
         height="8"
         width="8">
        <metadata
           id="metadata1983">
          <rdf:RDF>
            <cc:Work
               rdf:about="">
              <dc:format>image/svg+xml</dc:format>
              <dc:type
                 rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
              <dc:title></dc:title>
            </cc:Work>
          </rdf:RDF>
        </metadata>
        <defs
           id="defs1981" />
        <path
           id="path1989"
           transform="translate(0,1)"
           d="M 0,0 V 1 H 8 V 0 Z" />
        <path
           id="path1987"
           transform="translate(0,1)"
           d="m 0,2.97 v 1 h 8 v -1 z" />
        <path
           id="path1975"
           transform="translate(0,1)"
           d="m 0,5.97 v 1 h 8 v -1 z" />
      </svg>
    </label>
    <nav class="project-list"> 
        <ul>
          {% for item in items %}
          <li class="nav-item"> <a href="/projects/{{ item.slug }}"> {{ item.title }} </a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
