title = "Von Zimmerman"
url = "/paul"
layout = "nonav"
is_hidden = 0

[itemGrid]
category = "Title"
direction = "asc"
limit = 5
==
{% set item = itemGrid.items %}
{% set amountOfItems = items|length %}
<div class="center-padding l-individual-landing">
  <div class="wrapper border">
    <nav class="project-nav fadein"> 
      <p> 0/{{ amountOfItems }} </p>
      <div class="nav-wrap">
      <a id="current" href="#home" class="circle"> 
      </a>
      {% for item in items %}
        <a href="#{{ item.slug }}" class="circle"> 
        </a>
      {% endfor %}
      </div>
      <p> {{ amountOfItems }}/{{ amountOfItems }} </p>
    </nav>
    <div class="l-slider">
      <div class="content-wrapper">
          <div id="home" class="individual-headshot fadein "> 
            <h2 class="highlight bk-coolblack"> Paul Von Zimmerman</h2>
            <div class="profile paul">
            </div>
            <div>
              <h2 class="left-border"> Web Developer / Designer </h2> 
              <p class="left-border">  
              Full stack developer experienced with
              <span class="highlight bk-orange"> PHP </span>, <span class="highlight bk-orange">Node.js,</span> and <span class="highlight bk-orange">Python.</span> Always looking
              Forward to the next big thing.
              </p>
            </div>
            <a class="arrow" href="#{{ items[0].slug }}">
              <svg role="img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_down"/>
              </svg>
            </a>
          </div>
      {% for item in items %}
        <div id="{{ item.slug }}" class="l-content">
          <div>
            <h2> {{ item.title }} </h2>
            {{ item.description |raw }}
          </div>
          <a class="arrow" href="/projects/{{ item.slug }}">
            <svg role="img">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_right"/>
            </svg>
          </a>
          <div class="bk-coolblack">
            <img src="{{ item.banner.path }}"></img>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <nav class="social-nav fadein"> 
      <a href="#" class="icon-link nav-item"> 
        <div class="icon">
          <svg role="img">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-octocat"/>
          </svg>
        </div>
        <div class="social-text">
           Github 
        </div>
      </a>
      <a href="#" class="icon-link icon nav-item"> 
        <svg role="img">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-envelope-closed"/>
        </svg>
        <div class="social-text">
           Email
        </div>
      </a>
      <a href="#" class="icon-link icon nav-item"> 
        <svg role="img">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-document"/>
        </svg>
        <div class="social-text">
          Résumé
        </div>
      </a>
    </nav>
  <input type="checkbox" id="nav"> </input>
  <label class="menuanim" for="nav">
    <svg 
       id="svg1977"
       version="1.1"
       viewBox="0 0 8 8"
       height="8"
       width="8">
      <metadata
         id="metadata1983">
        <rdf:RDF>
          <cc:Work
             rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type
               rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
            <dc:title></dc:title>
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <defs
         id="defs1981" />
      <path
         id="path1989"
         transform="translate(0,1)"
         d="M 0,0 V 1 H 8 V 0 Z" />
      <path
         id="path1987"
         transform="translate(0,1)"
         d="m 0,2.97 v 1 h 8 v -1 z" />
      <path
         id="path1975"
         transform="translate(0,1)"
         d="m 0,5.97 v 1 h 8 v -1 z" />
    </svg>
  </label>
  <nav class="project-list"> 
      <ul>
        {% for item in items %}
        <li class="nav-item"> <a href="{{ item.slug }}"> {{ item.title }} </a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
