title = "projects"
url = "/projects/:project_name?"
layout = "nonav"
is_hidden = 0

[itemPage]
project = "{{ :project_name }}"
==
function onStart() {
  echo(Session::get('previous'));
  $this['previous'] = Session::get('previous');
}
==
{% set item = itemPage.item %}
{% set amountOfItems = items|length %}

{% put pageScripts %}
<script src="{{ 'assets/project.app.js'|theme }}"></script>
{% endput %}


<div class="center-padding ">
  <div class="outer-border min-height-content-page">
  <div class="relative hide-scrollbar min-height-content-page l-content-page primary-border-ten">
    <div id="scrollbar">
      <div id="back-button">
        <a href="{{ previous }}#{{ item.slug }} ">
          <svg class="slideIn-left" role="img">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"/>
          </svg>
        </a>
      </div>
      <div class="scroll-container slideIn-left">
        <div class="inner-scroll">
        </div>
      </div>
    </div>
    <div class="scroll">
      <div class="banner background-primary slideIn-left">
        <img src="{{ item.banner.path }}">
      </div>
      <div class="intro slideIn-left">
        <div class="full-width">
          <h1> {{ item.title }} </h1>
        </div>
        <div class="flex-row slideIn-left">
          <div class="">
            <h3> Year </h3>
            <p>{{ item.item_date|date('Y') }}</p>
          </div>
          <div class="index slideIn-left">
            <h3> Index </h3>
              <ul class="block-nav nav"> 
              {% for nav in itemPage.section %}
                <li>
                  <a class="color-primary" href="#{{ str_snake(nav.section_title)}}">
                    {{ nav.section_title }}
                  </a>
                  <div class="background-primary"> </div>
                </li>
              {% endfor %}
              </ul>
          </div>
          <div class="description flex-grow slideIn-left">
            <h3> Short Description </h3>
              {{ item.short_description|raw }}
              {% if (item.item_link) %}
                <p> <a href="{{ item.item_link }}"> View the project here </a> </p>
              {% endif %}
          </div>
        </div>
      </div>
      <div class="written-content">
        {% if item.screenshot %}
        <div class="lightbox-container">
            <div class="lightbox">
            {% for img in item.screenshot %}
              <div class="primary-border-five lightbox-item">
                <div class="lightbox-slide slideIn-left">
                 <svg><use xlink:href="#icon-magnifying-glass"></use></svg> 
                </div>
                <img src="{{ img.path }}"/>
              </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% for desc in itemPage.section %}
          <div class="content-page-section slideIn-left">
            <h2 id="{{ str_snake(desc.section_title) }}">{{ desc.section_title }}</h2>
              {{ desc.section|raw }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</div>
