// scss libraries
@import '~breakpoint-sass/stylesheets/breakpoint';

// Globals
@import './scss/global/animations';
@import './scss/global/variables';

// Layouts
@import './scss/layouts/header';
@import './scss/global/globals';
@import './scss/layouts/l-landing';
@import './scss/layouts/l-individual-landing';
@import './scss/layouts/grid';
@import './scss/layouts/body';
@import './scss/layouts/l-slider';
@import './scss/layouts/l-content';
@import './scss/layouts/l-content-page';


// modules
@import './scss/modules/arrow';
@import './scss/modules/border';
@import './scss/modules/left-border';
@import './scss/modules/highlights';
@import './scss/modules/icon-link';
@import './scss/modules/project-nav';
@import './scss/modules/social-nav';
@import './scss/modules/project-list';
@import './scss/modules/profile';


