// scss libraries
@import '~normalize.css/normalize';
@import '~breakpoint-sass/stylesheets/breakpoint';

// Globals
@import './scss/global/variables';
@import './scss/global/animations';
@import './scss/global/grid';
@import './scss/global/links';
@import './scss/global/lists';

// Layouts
@import './scss/layouts/header';
@import './scss/global/globals';
@import './scss/layouts/l-landing';
@import './scss/layouts/l-individual-landing';
@import './scss/layouts/grid';
@import './scss/layouts/body';
@import './scss/layouts/l-slider';
@import './scss/layouts/l-content';
@import './scss/layouts/l-content-page';


// modules
@import './scss/modules/arrow';
@import './scss/modules/border';
@import './scss/modules/left-border';
@import './scss/modules/highlights';
@import './scss/modules/icon-link';
@import './scss/modules/project-nav';
@import './scss/modules/social-nav';
@import './scss/modules/project-list';
@import './scss/modules/profile';
@import './scss/modules/hide-scrollbar';
@import './scss/modules/scrollbar';
@import './scss/modules/block-nav';
@import './scss/modules/back-button';
@import './scss/modules/loader';
@import './scss/modules/solar-system';


// states

@import './scss/states/hide';
